<mat-toolbar color="primary">
  <button mat-button [routerLink]="''">
    <span class="light-text">VideoGamer</span>
  </button>

  <span class="example-fill-remaining-space"></span>

  <span>
    <nav mat-tab-nav-bar>
      <button mat-button *ngFor="let link of links" [routerLink]="link.path" routerLinkActive #rla="routerLinkActive"
        class="nav-link light-text">
        <mat-icon>{{ link.icon }}</mat-icon>
        <span class="spacy">{{ link.name }}</span>
      </button>

      <button class="light-text" mat-button [matMenuTriggerFor]="menu">
        <mat-icon>apps</mat-icon>
        <span class="spacy">About project</span>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Follow me on Github</button>
        <button mat-icon-button>
          <mat-icon>star</mat-icon>
          <span>Star it on Github</span>
        </button>
      </mat-menu>
    </nav>
  </span>
</mat-toolbar>
