<mat-grid-list cols="1" rowHeight="2:1">
  <mat-grid-tile>
    <h1 class="light-text">Welcome to VideoGamer</h1>
    <br />
    <h5>Discover your new favorite game.</h5>
    <mat-form-field>
      <input matInput placeholder="label" value="value">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Cars</mat-label>
      <select matNativeControl required>
        <option value="volvo">Volvo</option>
      </select>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="onClick();">Explore</button>
  </mat-grid-tile>
</mat-grid-list>
