<div class="container">
  <div class="row">
    <div class="col col-lg-6">
      <h1 class="light-text">Welcome to VideoGamer</h1>
      <h5 class="ligt-text">Discover your new favorite game.</h5>
      <button mat-raised-button color="primary" (click)="onClick();">Explore</button>
    </div>
  </div>
  <div class="row">
    <h1 class="light-text text-center">Most popular games</h1>
    <div class="col col-lg-4 col-sm-6">
      <app-game *ngFor="let game of games" [game]="game">
      </app-game>
    </div>
  </div>
</div>
