#overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100% !important;
  width: 100% !important;
  position: absolute;
  background-color: #3f51b5 !important;
  z-index: 1 !important;
  overflow: hidden !important;
  transition: 1s ease-in-out !important;
}

#loading-text {
  color: whitesmoke !important;
}
