/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.success {
  background-color: #69F0AE;
}

.primary {
  background-color: blue;
}

.danger {
  background-color: #f44336;
}
