<mat-grid-list cols="1" rowHeight="2:1">
  <form [formGroup]="contactForm">
    <mat-form-field>
      <input matInput formControlName="name" placeholder="Enter your first name..." />
    </mat-form-field>

    <mat-form-field>
      <input matInput formControlName="email" placeholder="Enter your email..." />
    </mat-form-field>

    <mat-form-field>
      <input matInput formControlName="subject" placeholder="Enter your subject..." />
    </mat-form-field>

    <mat-form-field>
      <textarea matInput formControlName="body" placeholder="Message body..."></textarea>
    </mat-form-field>
    <button mat-raised-button color="primary" type="button" (click)="onSubmitContactForm();">Submit</button>
  </form>
</mat-grid-list>
